name: Release Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    permissions:
      contents: write
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            artifact_name: google-open-translate-win.exe
            asset_name: GoogleOpenTranslate-Windows.exe
          - os: ubuntu-latest
            artifact_name: google-open-translate-linux
            asset_name: GoogleOpenTranslate-Linux
          - os: macos-latest
            artifact_name: google-open-translate-mac
            asset_name: GoogleOpenTranslate-macOS

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Linux Dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libegl1 libopengl0 libxcb-cursor0 libxkbcommon-x11-0

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build with PyInstaller (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        pyinstaller --onefile --windowed --name "google-open-translate-win" --collect-all opencc --hidden-import="pkg_resources.extern" gui.py

    - name: Build with PyInstaller (Unix)
      if: matrix.os != 'windows-latest'
      run: |
        pyinstaller --onefile --windowed --name "${{ matrix.artifact_name }}" --collect-all opencc --hidden-import="pkg_resources.extern" gui.py

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/${{ matrix.artifact_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
